<!DOCTYPE html>

{% extends 'base.html' %}

    {% block title %}
        {{ title }} :: {{ block.super }}
    {% endblock %}

    {% block sidebar %}
        {% include 'inc/_sidebar.html' %}
    {% endblock %}

    {% block content %}

        <div class="col-9" xmlns="http://www.w3.org/1999/html">
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary" type="button">Добавить новость</button>
            </div>

            <br>

            <div class="bd-example">
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h3>Количество статей в рубрике:</h3>
                            <h3><span class="badge bg-primary rounded-pill">{{ list_news.count }}</span></h3>
                        </li>
                    </ul>
                </div>
            </div>

            <br>

            {% if list_news %}
            {% for elem in list_news %}                                         <!--    #   "elem" - экземпляр класса "People" модели-->
                <div class="card">
{% comment %}
<!--                                    <a href="{% url 'home' %}" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">&ndash;&gt;-->
<!--                                        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>-->
<!--                                        <strong>-->
<!--                                            <span class="fs-4">WEB NEWS</span>-->
<!--                                        </strong>-->
<!--                                    </a>-->

<!--                                    <div class="list-group">-->
<!--                                        {% for item in categories %}-->
<!--                                            <a href="{% url 'category' item.pk %}" class="list-group-item list-group-item-action">{{ item.title }}</a>-->
<!--                                        {% endfor %}-->
<!--                                    </div>-->
{% endcomment %}
                    <strong class="d-inline-block mb-2 text-dark">
                         <div class="card-header">
                             <p>Категория: {{ elem.category }}</p>
<!--                             <p>Категория: { url 'category' elem.pk }</p>-->
                             <a href="{{ elem.get_absolute_url }}">{{ elem.title }}</a>
                         </div>
        <!--                                <div class="card-header">-->
        <!--                                    Категория: <a href="{% url 'category' elem.category.pk %}">{{ elem.category }}</a>                                   </a>-->
        <!--                                </div>-->
                    </strong>
                    <div class="card-body">
        <!--                                <h3 class="mb-0">{{ elem.title }}</h3>-->
        <!--                                <br>-->
                        {% if elem.photo %}
                            <img src="{{ elem.photo.url }}" class="img-fluid" alt="photo">
                        {% else %}
                            <img src="https://picsum.photos/200/300" alt="" width="350">
                            <p>Фото к новости отсутствует</p>
                        {% endif %}
                        <p class="card-text">{{ elem.content | linebreaks | truncatewords:50 }}</p>
                        <a href="{{ elem.get_absolute_url }}" class="btn btn-primary">Читать далее</a>
                    </div>
                    <div class="card-footer text-muted">{{ elem.created_at|date:"Y-m-d H:i" }}</div>
                    <div class="card-footer text-danger">{{ elem | filesizeformat }}</div>
                    <div class="card-footer text-danger">Прошло с момента создания статьи: {{ elem.created_at | timesince }}</div>
                </div>
                <br>
            {% endfor %}
            {% else %}
                <h2>В данной рубрике нет новостей</h2>
            {% endif %}

            <br>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-primary">1</button>
                    <button type="button" class="btn btn-primary">2</button>
                    <button type="button" class="btn btn-primary">3</button>
                    <button type="button" class="btn btn-primary">4</button>
                </div>
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-secondary">5</button>
                    <button type="button" class="btn btn-secondary">6</button>
                    <button type="button" class="btn btn-secondary">7</button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-info">8</button>
                </div>
            </div>
            <br>
        </div>

    {% endblock %}

